<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <script
      src="https://kit.fontawesome.com/7ea2aa966e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/Faq.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header_div">
        <h1>Simplifying Mobility</h1>
        <nav class="header_nav">
          <a class="green" href="#">LOGIN</a>
          <a href="#">SIGN UP</a>
        </nav>
      </div>
    </header>

    <div class="page">
      <section class="help_center">
        <div class="input_column">
          <h2>How can we help you today?</h2>
          <input type="text" placeholder="Enter your search item here..." />
        </div>
        <nav class="help_nav">
          <a href="#"
            ><i class="fas fa-plus-square"></i
            ><span>New Support Ticket</span></a
          >
          <a href="#"><span>Check Ticket Status</span></a>
        </nav>
      </section>
      <div class="lower_div">
        <section class="knowledge">
          <h2>Knowledge base</h2>
          <div class="faq_content">
            <h3>FAQs</h3>
            <div class="contents">
              <section class="boxes">
                <div class="box_heading">Learn about ONN</div>
                <div class="list_div">
                  <ul>
                    <li>What is ONN Bikes?</li>
                    <li>What are the benefits of using ONN?</li>
                    <li>What are the bike options available?</li>
                    <li>Where is ONN currently operational?</li>
                    <li>Our Usage Policy</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Getting Started</div>
                <div class="list_div">
                  <ul>
                    <li>How do I register with ONN?</li>
                    <li>What are documents required to register and u</li>
                    <li>I am having trouble registering on the platform.</li>
                    <li>I don't have a Driving License.</li>
                    <li>What is the Privacy Policy?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Plans & Promotions</div>
                <div class="list_div">
                  <ul>
                    <li>What are the various plans available?</li>
                    <li>What are commute rides and subscription?</li>
                    <li>What is Rent-to-Own(R2O) plans</li>
                    <li>Is the fuel/charging included in my tariff?</li>
                    <li>How do I redeem my Promo Code?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Booking your Ride</div>
                <div class="list_div">
                  <ul>
                    <li>How do I book a ride?</li>
                    <li>How do I book a commute?</li>
                    <li>How do I reach my Pickup Station?</li>
                    <li>Can I drop off my bike at a different station?</li>
                    <li>What are ONN station timings?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Payments, Cancellation and Refund</div>
                <div class="list_div">
                  <ul>
                    <li>What are the various plans available?</li>
                    <li>What are commute rides and subscription?</li>
                    <li>What is Rent-to-Own(R2O) plans</li>
                    <li>Is the fuel/charging included in my tariff?</li>
                    <li>How do I redeem my Promo Code?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Security</div>
                <div class="list_div">
                  <ul>
                    <li>Are the rides insured?</li>
                    <li>What are the charges for damages to the bike?</li>
                    <li>What is the speed limit policy?</li>
                    <li>What to do in case of malfunction and breakdowns?</li>
                    <li>Will I get refund for emergency repairs?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">COVID-19 Safety</div>
                <div class="list_div">
                  <ul>
                    <li>What are the measures taken by us for COVID-1</li>
                    <li>Where is the bike sanitization facility available?</li>
                    <li>How many times can I get my bike sanitized?</li>
                    <li>How are ONN Stations ensuring safety?</li>
                    <li>How can I get home delivery of my bike?</li>
                  </ul>
                </div>
              </section>
              <section class="boxes">
                <div class="box_heading">Explore all the FAQs</div>
                <div class="list_div">
                  <ul>
                    <li>Will I be provided with helmet on pickup?</li>
                    <li>Link</li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </section>
        <section class="knowledge">
          <div class="base_div faq_content">
            <h3>Offerings</h3>
            <div class="contents">
              <section class="boxes">
                <div class="box_heading">Rent-To-Own(R2O)</div>

                <div class="list_div">
                  <ul>
                    <li>What is Rent-To-Own(R2O)</li>
                    <li>Benefits of R2O over renting a bike.</li>
                    <li>Payment scheme for R2O plan</li>
                    <li>What will be the service assistance during the R</li>
                    <li>
                      Can I use the vehicle in a different state? See all 16
                      articles
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div></div>
  </body>
</html>