<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/otp.css">
   </head>
<body>
    <div id="main">
        <div id="otp">
            <h1>Please Enter Otp!</h1>
            <input type="text" placeholder="enter your Otp" id='input'>
        </div>
        <div id="res">

            <div href="" onclick="otp()" id='re'>Resend otp</div>
            <div id='li'> 

            </div >
            </div>
                <button onclick="sub()">submit</button>
    </div>
</body>
<script src='js/otp.js'></script>
</html>
   