<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/paycc.css">
   
</head>
<body>
    <div id="main">
        <div id="h4">
            <h4>Enter Your Card Details</h4>
        </div>
        <div id="fst">
            <div id="fst1">
                <input type="text" placeholder="Enter Your Name" id="name">

            </div>
            <div id="fst2">
                <input type="number" placeholder="Enter Card Number" id="cardNumber">

            </div>
        </div>
        <div id="sec">
            <div id="sec1">
                <input type="date" placeholder="Enter Expairy Date" id="date">

            </div>
            <div id="sec2">
                <input type="text" placeholder="Enter Cvv" id="cvv">

            </div>
        </div>
             <div id='total'>

                 <h5 id='price'></h5>
             </div>
            <button onclick="submit()">Submit</button>

    
    </div>

</body>
</html>
<script src="js/paycc.js">
   
</script>